[2019-07-09 09:09] mgiaco opened #3 "update to cmsis os2"
Hi,

Are there any plans to update to a new freertos and cmsis os2?

many thanks
cheers
mathias

[2019-07-10 13:54] CCASTM commented on #3
Hello Mathias,
The next release STM32CubeF1 FW Package (V1.8.0), expected in the second half of July 2019 will include the V10.0.1 FreeRTOS MW, including CMSIS-OS-V2
Regards
Christophe

[2019-07-16 11:29] mgiaco commented on #3
okay that sounds really great i hope it will be published here.
Best Regards,
mathias

[2019-07-22 13:05] mgiaco commented on #3
Many thanks for the update, the problem is that it is not possible to switch to CMSIS-OS-V2 in cube mx but I think that is a general issue.  Is there a roadmap for CubeMX ?  I found a issue for STM32F1 and ADC Code gerneration. Where is the right place to report that?

[2019-07-25 07:19] jecaille commented on #3
Hi Mathias,
Thanks for reporting.
Please go to the st community group stm32mcu :
https://community.st.com/s/group/0F90X000000AXsASAW/stm32-mcus
Best regards,
Jérôme

[2019-08-12 17:14] CCASTM commented on #3
Hello Mathias,
I confirm that for the moment, you can use the FW PAckage as is (CMSIS and FreRTOS version have been updated) but the integration in CubeMX. is not yet available.
In the context of 13 different STM32 series, we are still working on the priority list for CubeMX, and the plan is not yet defined.
Regards
Christophe

[2019-09-16 08:51] ALABSTM commented on #3
Hi Mathias,

I hope you are doing well. As this issue is now related to CubeMX but not to the firmware published into this repository, would you agree to close it? Thank you in advance for your answer.

As you may know issues are exclusively reserved to aspects directly related to the firmware published into GitHub repository. Any other question could be submitted to the [ST Community](https://com

[2019-09-17 11:10] #3 closed, assigned to CCASTM

[2019-09-25 08:28] mgiaco commented on #3
@ALABSTM
Is there any way to report an issue for cubemx in any ticket system. Because I have the problem that for me i looks like no one is looking on a issue when reporting on ST Community. As an example i have reported that there is any problem when using ADC3 on F1 .... but nothing is happend. So no comment or hint or what else...
https://community.st.com/s/question/0D50X0000AYtJRaSQN/latest-cu

[2019-09-26 09:20] ALABSTM commented on #3
Hi Mathias,

As far as I know, CubeMX-related issues are indeed reported on the ST Community. I just checked your post and found that someone has finally answered. We do apologize for the delays and we do our best to improve our response time.

Now, regarding posting on the ST Community, topics have been created in order to better classify the posts received and to answer them more rapidly.

As fo

[2019-09-26 11:25] TByte007 opened #4 "Multiple warning about unused parameters."
Is it possible to put "attribute ((unused))" before those params because it's annoying and fills the screen with useless info and I really want to be able to use the -Wall parameter.

[2019-09-26 15:30] ALABSTM commented on #4
Hi TByte007,

Our development teams confirmed the issue you pointed out. The fix will be available in a future release. Thank you for your contribution.

With regards,

[2019-09-26 15:45] ALABSTM commented on #4
ST Internal Reference: 72918

[2019-09-26 16:16] ALABSTM commented on #4
ST Internal Reference: 72921

[2019-09-27 15:06] TByte007 commented on #4
Thank you !

[2019-10-01 05:48] mgiaco commented on #3
Okay many thanks

[2019-10-27 20:16] ghost opened #5 "Broken reset handler for SMT32F103xE?"
I think reset handler in `Drivers/CMSIS/Device/ST/STM32F1xx/Source/Templates/gcc/startup_stm32f103xe.s` might be missing code responsible for initializing stack pointer.
[code]
I created a project for STM32F103ZET6 in STM32CubeMX (apparently up-to-date) and right away I noticed `malloc()` failing for larger buffer sizes (like 1kB). I noticed that `_sbrk()` was failing because of stack collision ch

[2019-10-29 10:25] ALABSTM commented on #5
Hi Jim Von Moon,

Thank you for having sent this issue and, of course, we will take it into consideration. It will be forwarded to our development teams to check whether it is relevant or not.

We will be back to you as soon as we get an answer. So stay tuned and thank you in advance for your patience.

With regards,

[2019-10-30 22:36] mdmikh opened #6 "HardFault in I2C_DMAXferCplt"
I2C tx data transfer initiated by HAL_I2C_Mem_Write_DMA completes with HardFault in I2C_DMAXferCplt routine if rx DMA is not configured before.

The issue is with possible NULL pointer hi2c->hdmatx or hi2c->hdmarx dereference in routines I2C_DMAXferCplt, I2C_DMAError, I2C_DMAAbort.

In case when only RX DMA or TX DMA is used and configured the following code breaks because only one pointer is set:

[2019-10-30 22:38] mdmikh commented on #5
Actually first interrupt vector is used to set initial sp value so no explicit initialization is necessary.

[2019-10-31 09:28] ghost commented on #5
Yes, I think that's how it's supposed to work, but just a minute ago I created a new project in STM32CubeMX for STM32F103ZET6. The only thing I changed was enabling Serial Wire to be able to debug. Right after entering `main()` SP register was set to `0x200001f4`. After manually setting SP register to `_estack` in reset handler it's value is `0x2000fff8`.

[2019-11-05 09:08] ALABSTM commented on #6
Hi Dmitry,

First of all, thank you for having pointed out this issue. It will be transferred to our development teams to check its relevancy.

We will be back to you as soon as we get an answer. Thank you for your patience, and for your contribution once more.

With regards,

[2019-11-06 08:55] ALABSTM commented on #6
Hi Dmitry,

Would you please indicate the FW version which you spotted this issue on? Are you using the latest FW version (v1.8.0)? Thank you for your answer.

With regards,

[2019-11-06 20:19] mdmikh commented on #6
The issue was found on v1.8.0. Previous version v1.7.0 has no such error as clear callback code was added later.

The fix is trivial:

  /* Clear Complete callback */
  if (hi2c->hdmatx != NULL)
  {
    hi2c->hdmatx->XferCpltCallback = NULL;
  }
  if (hi2c->hdmarx != NULL)
  {
    hi2c->hdmarx->XferCpltCallback = NULL;
  }

Affected routines I2C_DMAXferCplt, I2C_DMAError and I2C_DMAAbort

[2019-11-07 09:43] ALABSTM commented on #6
Hi Dmitry,

Thank you for this precision. I will refer it to our development teams so they look closer into it.

With regards,

[2019-11-08 10:26] ALABSTM commented on #6
Hi Dmitry,

Our development teams confirmed the issue you pointed out. A fix will be officially published in the frame of a future release. We cannot commit on a precise date for the moment. However, we hope it will be soon enough.

In the meanwhile, you will be provided with a patch as soon the fix is implemented from our side. Thank you once more for this contribution.

With regards,

[2019-11-08 11:03] ALABSTM commented on #6
Hi Dmitry,

Our development teams confirmed the issue you pointed out. A fix will be officially published in the frame of a future release. We cannot commit on a precise date for the moment. However, we hope it will be soon enough.

We will try to provide you with a patch as soon the fix is implemented from our side. In the meanwhile, you can implement, from your side, the solution you suggested.

[2019-11-08 11:03] ALABSTM commented on #6
ST Internal Reference: 75370

[2019-11-21 11:57] martonmiklos opened #8 "tranmit -> transmit typo"
Here:
https://github.com/STMicroelectronics/STM32CubeF1/blob/441b2cbdc25aa50437a59c4bffe22b88e78942c9/Drivers/STM32F1xx_HAL_Driver/Inc/stm32f1xx_hal_can.h#L298-L302

There is a tranmit -> transmit typo in the comment. See PR #7 for details.

[code]

[2019-11-21 12:02] ALABSTM commented on #8
Hi Miklòs,

Thank you for your collaboration. I took the initiative to add the "diff" tag so that differences are correctly displayed in your comment.

Your remark will be transmitted to our development teams to have this typo fixed in the frame of a future release. Thank you once more for this contribution.

With regards,

[2019-11-21 12:23] martonmiklos commented on #8
I was not aware of this code-diff markdown feature, so I learned something new again! Thanks for the hint.

[2019-11-25 09:26] ALABSTM commented on #8
ST Internal Reference: 76404

[2019-12-12 14:44] ALABSTM commented on #6
Hi Dmitry,

A fix has been implemented. It will be published within version **1.24.2** of STM32Cube**F4** firmware package, which will be released soon.

This same fix apply to the F1 firmware. However, for this latter, we cannot share a date for the moment.

The fix consist in the replacement of the two lines shown below...
[code]
... in the list of functions listed here:
https://github.com/STMic

[2019-12-12 14:59] ALABSTM commented on #4
Hi Tbyte007,

A fix to prevent the warning you are getting has been implemented on both TIM and USB drivers. It will be made available in the next STM32CubeF1 release. Unfortunately we cannot share a date for the moment.

Here is how it has been handled in the case of the TIM:
[code]
I hope this answer helps. If you have no other question about this subject, I think this issue can be closed.

With

[2020-01-15 11:03] ALABSTM commented on #5
Hi JimVonMoon,

I hope you are doing well. Please excuse the delay it took, but we finally got a feedback from our development teams.

Below are the details, hoping it answers your question:
* Stack pointer initialization
  The vector table contains the reset values of stack pointer and reset handler.
  After reset, the vector table is mapped at address 0, and the SP register is initialized with t

[2020-01-16 13:24] thomask77 commented on #4
Similar warnings occur in https://github.com/STMicroelectronics/STM32CubeH7

Will it be fixed there also? Do we have to file another bug report?

best regards,
Thomas

[2020-01-18 18:59] a-v-s opened #9 "HAL_PCD_EP_GetRxCount returns incorrect value for multi-packet transfers"
**Describe the set-up**
 I'm using a Blue Pill STM32F103C8T6
I'm running arm-none-eabi-gcc (Arch Repository) 9.2.0
I am using the code from this repository

**Describe the bug**
HAL_PCD_EP_GetRxCount returns incorrect value for multi-packet transfers. It returns the value for the last packet in the transfer.

stm32f1xx_hal_pcd.c line 2142 increases the value
`ep->xfer_count += count;`
however, whe

[2020-01-27 14:50] ALABSTM commented on #6
Hi Dmitry,

We hope you are doing well. STM32CubeF4 **v1.24.2** firmware package has been released two weeks ago. You can find the above described fix implemented within. This issue can be closed now.

With regards,

[2020-01-27 14:50] #6 closed, assigned to nobody

[2020-02-03 11:56] ALABSTM commented on #9
Hi André,

Thank you for having reported this point and thank you for all these details you provided. Please allow me to introduce @bouattay from our USB development teams who will answer your post.

With regards,

[2020-02-03 12:11] ALABSTM commented on #4
Hi Thomask77,

Regarding the STM32CubeH7 firmware, the warning does not exist for the TIM function. The issue regarding the USB function, however, exists indeed as you mentioned.

This latter has been fixed in the USB Device Library v2.6.0. This new library revision shall be integrated to the next firmware revision (v1.7.0, normally) or to a later one. Hence, no need to file a new bug report, I th

[2020-02-05 08:59] bouattay commented on #9
Hi André,

Yes I can confirm the reported issue, could you please check this proposal to avoid resetting xfer_count

        else
        {
          //(void)HAL_PCD_EP_Receive(hpcd, ep->num, ep->xfer_buff, ep->xfer_len);
          (void)USB_EPStartXfer(hpcd->Instance, ep);
        }

Thanks,
Aymen

[2020-02-05 14:35] a-v-s commented on #9
The proposed change appears to work fine.

Thanks,
André

[2020-02-08 16:26] ghost commented on #5
Hi again. Sorry for the delayed response, it was only recently I got some time to get back to my project. Thank you very much for the detailed answer. It seems in my case it was a problem with the debugger. Everything seems to run fine without it, no need to set SP manually. Thank you for help!

[2020-02-08 16:26] #5 closed, assigned to ALABSTM

[2020-03-02 08:32] nixmd opened #10 "LL GPIO driver problem"
This is what CubeMX has generated for STM32F103VE mcu for LL GPIO driver:

[code]

When I compile it in CubeIDE I get this warning:

`large integer implicitly truncated to unsigned type [-Woverflow]`

I am using latest version of libraries and CubeMX and CubeIDE.

I had also some problems using pins with number 8 and bigger to control GPIO.

Re-generation of code didn't solve the problem.

[2020-03-04 10:08] ALABSTM commented on #9
ST Internal Reference: 82061

[2020-03-04 10:57] a-v-s commented on #9
The problem occurs on the F0 libraries as well.

[2020-03-06 14:06] HamzaHajeir opened #11 "EEPROM Emulation library for STM32F1 -- Notice for a possible bug source."
Hello STMicroelectronics, Great libraries and support all over the Internet.

I'm looking for EEPROM Emulation for my STM32 BluePill, And found the official documentation for that (AM2594) Which is a great document and well documented library.

Anyway I'm planning to use more than 2 pages to store my rapid changing variable. So started to reverse engineer the existing library to write a more gener

[2020-03-10 11:44] ALABSTM commented on #11
Hi Hamza,

Thank you for your feedback. We are very pleased to hear such positive comments from our customers and users.

Thank you also for this issue you pointed out and the detailed solution you suggested. We are also very pleased to have such constructive comments to help us enhance the quality of our software.

Your request will be forwarded to our development teams for analysis. We will be b

[2020-03-15 10:59] nixmd commented on #10
LL_GPIO_IsInputPinSet function is also corrupted and returns garbage results.

[2020-03-23 12:05] SpyrosMourelatos commented on #6
For real , you closed an issue because you patched it in an other irrelevant repository ,without patching it here ? You really owe my boss my daily wage multiplied by 2

[2020-03-31 17:36] ASELSTM commented on #10
Hi Mohammad Hossein Amir,

First, allow me to thank you for your contribution. However, aspects related to Cube MX tool are not handled at GitHub level. They are rather treated at **ST Community** level, precisely within the Cube [MX ](https://community.st.com/s/topic/0TO0X000000BTr8WAG/stm32cubemx)dedicated section.

There, you may find posts that already raised the issue you are pointing out her

[2020-03-31 17:36] #10 closed, assigned to ASELSTM

[2020-04-13 18:03] Phisik commented on #6
Have you patched only STM32CubeF4??? I have faced exactly the same issued with STM32F103. I have the latest update of CubeIDE available on 2020-04-13.  And the problem still exists!

STM32CubeIDE
Version: 1.3.0
Build: 5720_20200220_1053 (UTC)

[2020-04-14 09:51] ALABSTM commented on #6
Hi @DrunkenMastah, hi @Phisik,

The new F1 series' firmware has not been released yet and will not be in the near future. Unfortunately, we cannot share a date for the moment.

In the meanwhile, the fix released for the F4 series also applies to the F1. Users could port it to the F1 driver and avoid remaining stuck due to this bug. This is why we notified the STM32CubeF4 v1.24.2 publication here.

[2020-04-24 09:09] ALABSTM commented on #11
Hi Hamza,

I hope you are doing well. Our development teams confirmed the issue you pointed out. They also agreed on the fix you have suggested with some minor enhancements (mainly the addition of a `IS_EEPROM_PAGE_START_ADDRESS(__ADDRESS__)` macro to check the address passed as argument actually corresponds to `PAGE0_BASE_ADDRESS` or `PAGE1_BASE_ADDRESS`).

Thank you once again for your contribut

[2020-04-24 09:23] ALABSTM commented on #11
ST Internal Reference: 85353

[2020-04-24 13:24] HamzaHajeir commented on #11
Hi @ALABSTM ,

It's my pleasure to contribute in such a great project.

Noted with thanks :)

[2020-05-14 10:04] geosmall opened #12 "extern uwTick : Missing from F1 variant stm32f1xx_hal.h"
Issue first raised here https://github.com/stm32duino/Arduino_Core_STM32/issues/1064

**Describe the bug** :

```extern __IO uint32_t uwTick;```

This declaration is missing from F1 variant, present on all other variants.

https://github.com/STMicroelectronics/STM32CubeF1/blob/5ddefcd6a64e793087436cc4ed42abd1886952c1/Drivers/STM32F1xx_HAL_Driver/Inc/stm32f1xx_hal.h#L59-L61

**To Reproduce** :

By

[2020-05-17 14:00] kasjer opened #13 "Description of USB_ReadPMA is incorrect (copy/past error from USB_WritePMA)"
Description of function is incorrect it should be copy **from** PMA not user buffer
https://github.com/STMicroelectronics/STM32CubeF1/blob/5ddefcd6a64e793087436cc4ed42abd1886952c1/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_ll_usb.c#L2538

[2020-05-18 10:53] ASELSTM commented on #12
Hi @geosmall,

The issue you pointed out has been confirmed, a fix will be implemented and made available in future release. Thank you once again for your contribution.

With regards,

[2020-05-18 11:06] ASELSTM commented on #12
ST Internal Reference: 86528

[2020-05-26 11:26] ALABSTM commented on #13
Hi @kasjer,

Thank you for having reported this point. You are right. It seems to be a "copy-paste" error. Your remark will be transmitted to our development teams to have this comment updated.

With regards,

[2020-05-26 11:36] ALABSTM commented on #13
ST Internal Reference: 87005

[2020-06-14 19:48] Tasssadar opened #14 "stm32f1xx's HAL_DMA_PollForTransfer can't be used for polling"
The `HAL_DMA_PollForTransfer` function of stm32f1xx misleadingly always finishes the current DMA transfer on timeout, whether it is complete or not. This means that you can't actually poll for whether the transfer is done, because the act of calling `HAL_DMA_PollForTransfer` will finish it.

Even if this is the intended behavior, please at the very least mention it in the documentation of the func

[2020-06-18 17:13] ftapajos opened #17 "gcc Startup files don't initialize stack pointer"
I'm not sure if that is an issue, because it seems too critical to be in the code for that long, but the stackpointer is not being set anywhere in the reset_Handler subrountine for any of the startup_stm32f1xxxx.s files in the gcc folder

[2020-06-19 08:18] RKOUSTM commented on #14
Hi @Tasssadar,

Thank you for reporting this issue. You request will be forwarded to our development teams. I will let you updated once they provide me with their answer.

With regards,

[2020-06-19 10:37] ALABSTM commented on #17
Hi @ftapajos,

Thank you for your question. It seems you will find your answer here (#5). Do not hesitate in case you still face an issue.

With regards,

[2020-06-19 21:38] STMAndreas opened #18 "Syntax failure in stm32f1xx_hal_tim.h"
Using STM32F103C8T6 with STM32CubeIDE 1.3.0

During Migration from STM32Cube_FW_F1_V1.3.0 to STM32Cube_FW_F1_V1.8.0 the compiler found a failure in  stm32f1xx_hal_tim.h:
`../Application/User/IR_rec_drv.c: In function 'HAL_TIM_IC_CaptureCallback':
../Drivers/STM32F1xx_HAL_Driver/Inc/stm32f1xx_hal_tim.h:1745:106: error: expected ':' before ')' token
   (((__CHANNEL__) == TIM_CHANNEL_1) ? ((__HANDLE_

[2020-06-22 12:52] ASELSTM commented on #18
Hi @STMAndreas,

First of all, we would like to thank you for your contribution.

The `TIM_RESET_CAPTUREPOLARITY` macro is used to reset an already set input capture polarity on a given channel which is the active edge of the input signal. The active edge can then be rising, falling or both depending on the TIM instance and the channel.

[code]

Indeed, the  `TIM_RESET_CAPTUREPOLARITY` macro has b

[2020-06-22 12:52] #18 closed, assigned to ASELSTM

[2020-06-22 14:11] STMAndreas commented on #18
Hi @ASELSTM,
cool! Thanks for the answer and explanation.
STM32F1 series is available since more than 15 years and there is still something to optimize 😀
Best Regards

Gesendet von meinem iPhone.

[2020-07-01 13:20] RKOUSTM commented on #14
Hi @Tasssadar,

Thank you for your contribution. Could you please confirm you are using the latest firmware version (STM32Cube FW F1 v1.8.0) and that the issue is systematically reproducible on your side?

With regards,

[2020-07-01 13:28] Tasssadar commented on #14
I'm using platform.io and not the official tools, but it is coded like that here in this repository in master: https://github.com/STMicroelectronics/STM32CubeF1/blob/master/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_dma.c#L566

[2020-07-04 07:19] tgree commented on #5
Actually, @ALABSTM that is not entirely correct.  The SP is *supposed* to be initialized based on the first interrupt vector entry.  However, in practice ST doesn't support that for all choices of address.  The ST boot loader validates the address first, and for some chips that have SRAMs aliased at both low (0x10000000) and high (0x20000000) addresses, the boot loader doesn't always support using

[2020-07-06 15:32] RKOUSTM commented on #14
Hi @Tasssadar,

I have checked with our development teams. They mentioned that for stm32f1xx_hal_dma.c driver code, there is no problem. However, timeout is not a blocking DMA error, and it is normal to come back to Ready state.

In order to allow a better understanding of the problem, could you please send us a code snippet allowing our development teams to reproduce (if useful),  so that our dev

[2020-07-06 15:41] Tasssadar commented on #14
Yes, of course it is not an error. That's why it makes no sense to cut the current DMA transaction short and mark the state as ready, instead of keeping it "busy".

Here's some pseudo code of what I was trying to do:

[code]

[2020-07-08 09:16] RKOUSTM commented on #14
Hi @Tasssadar,

Thank you for all these details. According to our development teams, when timeout is reached, it is better to free the DMA by setting it to HAL_DMA_STATE_READY  in order to start another transfer (of higher priority) or repeat the failed one.

Then, based on this point of view, there is no need to fix or update the code. Thank you for your comprehension.

Please allow me to close t

[2020-07-08 09:32] Tasssadar commented on #14
It is fine to have a function that does that of course, but the naming and documentation should clearly state that no matter what you do, `HAL_DMA_PollForTransfer` will always finish the DMA transfer instead of just checking the state (which is what polling means IMHO).

[2020-07-14 23:28] kasjer opened #19 "HAL_I2C_Master_Receive may unintentionally leave interrupts disabled on exit"
Function **HAL_I2C_Master_Receive** looks like it can return with error while previously disabled interrupts are not enabled as they would be in no error case.

Line that blocks interrupts;
https://github.com/STMicroelectronics/STM32CubeF1/blob/5ddefcd6a64e793087436cc4ed42abd1886952c1/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_i2c.c#L1334

Line that returns without enabling interrupts:
https:/

[2020-07-15 10:30] cl-wi commented on #6
Same problem in F0 FW.

[2020-07-16 09:49] ASELSTM commented on #19
Hi @kasjer,

First of all we would like to thank you for your contribution.

Actually, the point you raised has already been discussed and fixed internally since a while, before we receive your request. The fix will be made available in the frame of a future release.

We cannot share a date for the moment. Stay tuned and thank you once more for your contribution and for your patience.

With regard

[2020-07-16 09:50] ASELSTM commented on #19
ST Internal Reference:  80693

[2020-07-21 01:01] Patel-Arpan opened #20 "STM3210C_EVAL: LCD module image corruption with BSP Example"
**Setup**
 * STM3210C_EVAL (Checked on 3 different boards)
 * STM32CubeIDE 1.3
 * Project: STM32CubeF1\Projects\STM3210C_EVAL\Examples\BSP

**Description of the bug**
The BSP Example initializes and setups the LCD module but the image is corrupted in the bottom section of the display. I have verified on 3 boards, no changes in the source code. Please see the attached image-1.
I have verified the L

[2020-07-22 14:31] ALABSTM commented on #17
Hi @ftapajos,

Did you find the answer you are looking for here (#5)?

With regards,

[2020-07-22 14:59] ALABSTM commented on #5
Hi @tgree,

Thank you for this comment. I read the analysis you posted on the community. It was very instructive. Thank you for the sharing.

With regards,

[2020-07-24 10:24] RKOUSTM commented on #14
Hi @Tasssadar,

First of all, I would like to thank you for your contribution.  However, according to our development teams, the ``Polling Transfer Mode`` should have a non-zero timeout duration. In your pseudo-code above, the function ``HAL_DMA_PollForTransfer_Really(&dmaTxHandle, HAL_DMA_FULL_TRANSFER, 0)`` must be updated with a Timeout duration different to zero to ensure complete transfer. In

[2020-07-24 10:42] #14 closed, assigned to RKOUSTM

[2020-07-27 15:22] ALABSTM commented on #17
Hi @ftapajos,

Please allow me to close this issue. You can reopen it or open a new one in case you face any problem related to this subject.

With regards,

[2020-07-27 15:22] #17 closed, assigned to ALABSTM

[2020-07-29 14:18] ALABSTM commented on #5
Hi @tgree,

Just to let you know, I forwarded you message and the post you shared on the community to our development teams. They said what you reported regarding the STM32G474CET microcontroller is a limitation of the  bootloader itself they are already aware of. It shall be reported in [this](https://www.st.com/resource/en/application_note/cd00167594-stm32-microcontroller-system-memory-boot-mode

[2020-08-13 14:02] RKOUSTM commented on #20
Hi @Patel-Arpan,

We are very pleased with the interest you show to our products. However, this public organization on GitHub is intended to promote co-development and issues posted here shall exclusively be related to the software published within the different repositories.
For any other issue (e.g. related to documentation, to hardware, to ecosystem, to user application, etc.), you shall addres

[2020-08-13 14:03] #20 closed, assigned to RKOUSTM

[2020-08-19 06:13] ZhaoYandong00 opened #21 "error: expected expression __HAL_TIM_SET_CAPTUREPOLARITY(__HANDLE__, __CHANNEL__, __POLARITY__)"
When I use the function, I find MDK_ARM reports an error(error: expected expression ).Review the function,I find that  this function( TIM_RESET_CAPTUREPOLARITY ) uses  an extra ')`.

[2020-08-19 16:04] ASELSTM commented on #21
Hi @ZhaoYandong00,

Thank you for your contribution.

Actually, the point you raised is already known. It has been internally fixed. The fix will be published in the frame of a future publication.

With regards,

[2020-09-23 20:09] daniel-starke opened #22 "HAL_PCD_EP_Flush() fails with linking error for non OTG devices"
**Describe the set-up**
Use the function HAL_PCD_EP_Flush() with a STM32F103 board.

**Describe the bug**
The linker fails with

    undefined reference to `USB_FlushTxFifo'

and

    undefined reference to `USB_FlushRxFifo'

in function `HAL_PCD_EP_Flush`.
The function is defined here:
https://github.com/STMicroelectronics/STM32CubeF1/blob/6ead386a08dea17f4dffbdbcd36c9979cb53588b/Drivers/STM32F1x

[2020-09-23 20:52] daniel-starke opened #23 "Race condition in USB PCD control endpoint receive ISR"
**Describe the set-up**
Tested with STM32F103C8T6. Same code can be found for F0 series and others.

**Describe the bug**
Usually, the procedure to return control to the host after a handled SETUP packet in USB is done by receiving 0 byte on the OUT control endpoint. For PMA assisted chips this results in a) an interrupt which confirms the finished receive operation followed by b) an interrupt for

[2020-10-12 15:19] ALABSTM commented on #18
ST Internal Reference: 80370

[2020-10-12 15:48] #8 closed, assigned to nobody

[2020-10-12 15:55] #9 closed, assigned to ALABSTM

[2020-10-12 15:58] #12 closed, assigned to ASELSTM

[2020-10-12 15:59] #13 closed, assigned to ALABSTM

[2020-10-12 15:59] #19 closed, assigned to ASELSTM

[2020-10-13 08:25] ALABSTM commented on #21
ST Internal Reference: 80370

[2020-10-13 08:25] ALABSTM commented on #21
Duplicate of #18.

[2020-10-13 08:26] #21 closed, assigned to ASELSTM

[2020-10-27 15:28] ALABSTM commented on #22
Hi @daniel-starke,

Thank you for this report. You are absolutely right. `USB_FlushTxFifo()` and `USB_FlushRxFifo()` functions were not defined for STM32F1 devicing not supporting OTG feature.

Actually this issue has already been detected and fixed. The fix is already available in the frame of the **v1.8.2** release published a couple of weeks ago. The linking error should disappear once you will

[2020-10-27 15:34] #22 closed, assigned to ALABSTM

[2020-11-17 14:14] ALABSTM commented on #23
Hi @daniel-starke,

Thank you for this report. Both issue description and suggested solution are clear. I will forward it to our development teams and get back to you as soon as I get their feedback.

With regards,

[2020-11-22 01:56] stansotn opened #25 "Conflicting types in USBD_LL_Transmit and USBD_LL_PrepareReceive"
**Describe the set-up**
STM32F103C8T6 Microcontroller. Initialization code generated with STM32CubeMX. USB configured as Device CDC Class. When generating the code "add necessary files as reference" checked, that is cube does not copy the libraries into the project folder.

**Describe the bug**
In [usbd_conf_template.c](https://github.com/STMicroelectronics/STM32CubeF1/blob/master/Middlewares/ST/S

[2020-11-22 12:04] simaodangan opened #26 "Error behavior of LL_GPIO_SetPinPull() in LL_GPIO_Init()"
hello!

I have used STM32CubeMX V6.1.0(STM32Cube FW_F1 V1.8.3) to generate STM32F103ZETx's gpio init code, and find that the gpio init function `LL_GPIO_Init()` will call `LL_GPIO_SetPinPull()`, even if when i set set pin as output mode.

That will cause a error set zero to GPIO->ODR, in such code:

[code]

i think `LL_GPIO_SetPinPull()` shall be called only when the pin is setted to output mode.

[2020-12-02 10:58] ALABSTM commented on #4
Hi @TByte007,

I hope you are fine. You request has been addressed at the level of the TIM driver.

For the USB device library, the change has been implemented in the frame of version v2.6.0. Unfortunately, for the STM32CubeF1 there is no plan to upgrade from **v2.5.3**  to **v2.6.0**.

Please allow me to close this issue now and thank you for your comprehension.

With regards,

[2020-12-02 10:58] #4 closed, assigned to ALABSTM

[2020-12-15 14:12] ALABSTM commented on #23
Hi @daniel-starke,

Our development teams confirmed the issue and approved your proposal. A fix will be made available in a future release. The below code snippet shows how an extra check will be added just before line [2172](https://github.com/STMicroelectronics/STM32CubeF1/blob/6ead386a08dea17f4dffbdbcd36c9979cb53588b/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_pcd.c#L2172).

Thank you again

[2020-12-15 15:15] ALABSTM commented on #23
ST Internal Reference: 98281

[2020-12-15 21:33] daniel-starke commented on #23
This only improves the behavior but does not provides a complete solution. That is why I suggested a proper re-check of the bit and not just a simple check. Higher priority interrupts may still break the intended behavior here.
One could disable interrupts during that code block for example, if this implies only a little performance overhead.
I haven't done any tests here so please re-evaluate the

[2020-12-18 17:17] ALABSTM commented on #23
Hi @daniel-starke,

Thank you for this clarification. I forwarded your concern and proposal to our development teams. I hope to get back to you soon enough.

With regards,

[2020-12-21 14:52] bouattay commented on #23
Hello Daniel-starke,
Let me explain the proposed solution, so assuming device get interrupted during setup out status phase and host is faster and send  the next setup packet. The fix here should ensure to do not update the Rx countx while USB_EP_SETUP bit is set. From device side the second setup packet is ACKed, host advances the state to either data phase or status phase with IN or OUT packet,

[2020-12-21 21:02] daniel-starke commented on #23
Hello Aymen,
Thank you for the re-evaluation. What I suspect is, that the initial issue will still arise if the device got stuck for a while in a higher priority interrupt which was just triggered before entering the line with `PCD_SET_EP_RX_CNT`, i.e. before the host sends the SETUP packet to the device. The device would fill the internal buffer, set the byte count, ACK the package and after that

[2020-12-24 20:19] coderkalyan opened #27 "No STM32F103RC support"
I'm new to STM32Cube, and I am building for a board that uses the STM32F103RC chip. However I do not see a configuration file for `stm32f103xc.h` in this `Include/`. Is this chip not supported?

Sorry if this is a silly question, I am not using stm32cube directly - I'm using it with the Zephyr RTOS, but when I tried to build for the STM32F103RC chip, the header was not found here.

[2020-12-24 21:00] coderkalyan commented on #27
Disregard. I confused the name with the F105rc

[2020-12-25 02:31] coderkalyan commented on #27
Never mind, I checked the documentation and it said I had to use the F103XE header.

[2020-12-25 02:31] #27 closed, assigned to nobody

[2020-12-30 14:00] HamzaHajeir commented on #11
Hi @ALABSTM, Is it released to the main streamline ?

[2021-01-05 09:50] ASELSTM commented on #26
Hi @simaodangan,

Referring to the reference manual  [RM0008](https://www.st.com/resource/en/reference_manual/cd00171190-stm32f101xx-stm32f102xx-stm32f103xx-stm32f105xx-and-stm32f107xx-advanced-arm-based-32-bit-mcus-stmicroelectronics.pdf) the **Table 20** shown below is describing the port bit configuration. Based on this table, in the **General purpose output mode**, configuring the ODR register

[2021-01-10 04:45] simaodangan commented on #26
Thank you for your explanation.

If I call `LL_GPIO_SetOutputPin()`  after `LL_GPIO_Init()`, the pin will generate a Low-Level pulse between Hi-Z and High-Level, which is a illegal status and may damage the hardware when a break between two function calls.

Actually, I use STM32Cube to generate the code,  if I select "GPIO mode" as "Output Open Drain", and "GPIO output level" as "High". It doesn't

[2021-01-19 13:56] cnxiaochun opened #28 "BackupRegister macro at LL module"
stm32f1xx_ll_rtc.h

`
#define LL_RTC_BKP_DR11                    (0x0000000BU)
`

stm32f1xx_hal_rtc_ex.h

`
#define RTC_BKP_DR11                        0x00000010U
`

Two definitions are inconsistent

[2021-01-19 16:06] ALABSTM commented on #25
Hi @stansotn,

Thank you for reporting. You are absolutely right about this point. There is a type mismatch. Actually, this is an issue found in version **v2.5.3** of the USB Device library and fixed in version **v2.6.0**.

Currently, the STM32CubeF1 firmware supports the **v2.5.3** of the USB Device library. Unfortunately there is no plan to upgrade to the **v2.6.0**. I will check further with ou

[2021-01-22 09:50] ALABSTM commented on #11
Hi @HamzaHajeir,

I hope you are fine. My apology, could you clarify your question please?

Thanks,

[2021-01-22 15:14] HamzaHajeir commented on #11
Hi @ALABSTM, I meant it was around 9 months ago since the development team proposed the solution.

Wasn't it approved yet ?

[2021-02-05 15:33] AntonNeutron opened #29 "Function LL_RTC_TIME_Init confusion RTC_Format"
Hello!
I have a problem initializing RTC
For example, if you are using the BIN format.
function LL_RTC_TIME_Init, first of all the time is checked for correctness

 if (RTC_Format == LL_RTC_FORMAT_BIN) {
    assert_param (IS_LL_RTC_HOUR24 (RTC_TimeStruct-> Clock));
    assert_param (IS_LL_RTC_MINUTES (RTC_TimeStruct-> Minutes));
    assert_param (IS_LL_RTC_SECONDS (RTC_TimeStruct-> Seconds));
  }

[2021-02-08 13:46] ASELSTM commented on #26
Hi @simaodangan,

Pleased that the problem has been solved.

Actually, this is rather a Cube MX related issue and we don't treat aspects related to CubeMX tool at GitHub level, they are rather treated at ST Community level precisely within the [CubeMX](https://community.st.com/s/topic/0TO0X000000BTr8WAG/stm32cubemx) dedicated section. You can create a new post to submit your issue.

As this issue

[2021-02-08 13:46] #26 closed, assigned to ASELSTM

[2021-02-09 15:07] ALABSTM commented on #28
Hi @cnxiaochun,

Thank you for this report. You are right. There is clearly an issue with the macros of the **LL** driver. All macros listed below shall be aligned with their equivalents in the HAL driver as in the example hereafter.

[code]

With regards,

https://github.com/STMicroelectronics/STM32CubeF1/blob/276c4ab9537e83b9897badb68e02d9c4c46c5c22/Drivers/STM32F1xx_HAL_Driver/Inc/stm32f1xx_ll_

[2021-02-09 15:28] ALABSTM commented on #28
ST Internal Reference: 101139

[2021-02-10 10:11] ALABSTM commented on #29
Hello @AntonNeutron,

Looks like we've missed that. Our apologies and thank you very much for having drawn out our attention upon.

This bug will be logged into our internal database and a fix will be made available soon enough hopefully. The two lines below, respectively located within functions `LL_RTC_TIME_Init()` and `LL_RTC_ALARM_Init()`, are impacted and shall be updated, as you pointed out.

[2021-02-10 10:31] ALABSTM commented on #29
ST Internal Reference: 101170

[2021-02-22 13:51] ALABSTM commented on #11
Hi @HamzaHajeir,

I hope you are doing well. Your request has been approved and already logged in our internal database. Actually, there were other issues we had to handle in priority. We hope to fix the EEPROM emulation application and make it available soon.

We do apologize for the delay and the inconvenience and we thank you for your patience.

With regards,

[2021-02-25 16:21] ttimasdf opened #30 "Purpose a fix to STM32F105 startup codes for proper initialization"
**Describe the set-up**
 * The board: A custom STM32F105RCT6 development board from Taobao. board description (website in Chinese): https://item.taobao.com/item.htm?id=556036697936 . I can upload the schematic here if necessary, but any board should be okay to reproduce.
 * IDE: VSCode + PlatformIO (Core 5.1.0)
   * Platform pack: ststm32 + my own support of STM32F105 series https://github.com/tti

[2021-02-25 16:22] ttimasdf commented on #30
Should I also submit an issue or PR here? https://github.com/STMicroelectronics/cmsis_device_f1

[2021-02-26 09:46] ALABSTM commented on #30
Hi @ttimasdf,

Thank you for this contribution. It will be logged into our internal database and a fix will be made available in the frame of a future release.

In case you would like to create a p-r, it would be preferable that you push it to this repository to allow linking it to this issue. If you prefer to push it to the [cmsis_device_f1](https://github.com/STMicroelectronics/cmsis_device_f1)

[2021-02-26 10:02] ALABSTM commented on #30
ST Internal Reference: 102149

[2021-03-08 11:34] ALABSTM commented on #25
Hi @stansotn,

I hope you are fine. Please find the latest USB Device library release within the [stm32_mw_usb_device](https://github.com/STMicroelectronics/stm32_mw_usb_device) repository. Version **v2.6.0** and even version **v2.7.1** are available and **fully compatible** with the v2.5.3.

The purpose from this repository is double:
1. to make updates and fixes available to users as soon as pos

[2021-03-09 04:02] stansotn commented on #25
@ALABSTM,

Thank you for addressing the issue! I will update my projects' submodules to the latest release tags and let you know if I find anything fishy:)

[2021-03-09 04:02] #25 closed, assigned to ALABSTM

[2021-06-08 14:34] RKOUSTM commented on #28
Hi @cnxiaochun,

I hope you are fine.

The issue you reported has been fixed in the frame of version v1.8.4 of the STM32CubeF1 published recently on GitHub.

Thank you again for having reported.

With regards,

[2021-06-08 14:34] #28 closed, assigned to ALABSTM

[2021-06-08 14:35] RKOUSTM commented on #29
Hi @AntonNeutron,

I hope you are fine.

The issue you reported has been fixed in the frame of version v1.8.4 of the STM32CubeF1 published recently on GitHub.

Thank you again for having reported.

With regards,

[2021-06-08 14:35] #29 closed, assigned to ALABSTM

[2021-06-08 14:42] RKOUSTM commented on #30
Hi @ttimasdf,

I hope you are fine.

The issue you reported has been fixed in the frame of version v1.8.4 of the STM32CubeF1 published recently on GitHub.

Thank you again for having reported.

With regards,

[2021-06-08 14:42] #30 closed, assigned to ALABSTM

[2021-06-18 21:06] a5021 opened #32 "stm32f1xx_hal_rtc.c -- inefficient code in HAL_RTC_Init() function"
The function HAL_RTC_Init() implemented in stm32f1xx_hal_rtc.c source file (v.1.8.0) has minor issue with using macro MODIFY_REG() against WRITE-ONLY registers RTC->PRLH and RTC->PRLL (see lines 381 & 382). It looks a bit odd and using WRITE_REG() macro instead of MODIFY_REG() could be a fix.

[2021-06-21 19:42] ALABSTM commented on #4
Hi @TByte007,

I came back to this issue and realized I did not provide you with the link to the [stm32_mw_usb_device](https://github.com/STMicroelectronics/stm32_mw_usb_device) repository where the USB Device library is published as a separate component.

For information, all **v2.\*.\*** versions are **backward compatible**. You can therefore even consider the use of the latest version **v2.8.0*

[2021-08-01 19:39] CanastraRF opened #33 "Bad modification in stm32f1xx_hal_adc_ex.c"
In the newest version of stm32f1xx_hal_adc_ex.c in function

HAL_ADCEx_MultiModeStart_DMA()
HAL_ADCEx_MultiModeStop_DMA()
HAL_ADCEx_MultiModeConfigChannel()

ADC_HandleTypeDef tmphadcSlave={0};
is added.
This create a const in flash of ADC_HandleTypeDef and copy this to stack.
A better solution is somthing like
memset(&tmphadcSlave, 0, sizeof(tmphadcSlave))

Improvment:
No const in flash,

[2021-08-02 11:59] ALABSTM commented on #32
Hi @a5021,

Thank you for this report. Your point is correct as the concerned registers are write-only as you mentioned. The lines eventually to be updated are:

https://github.com/STMicroelectronics/STM32CubeF1/blob/c750eab6990cac35ab05020793b0221ecc1a8ce5/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_rtc.c#L380-L382

And the update could be:

[code]

Your report will be forwarded to our develop

[2021-08-02 12:19] ALABSTM commented on #32
ST Internal Reference: 111431

[2021-08-02 18:53] TByte007 commented on #4
I'm sorry  I was busy with a different project which took all my time. Thank you for your time and effort ! I'll test it as soon as I have some spare time.

[2021-08-20 10:22] ASELSTM commented on #33
ST Internal Reference: 112128

[2021-09-02 04:24] tiantian1645 opened #34 "Memory address does not increase in UART DMA receive"
**Describe the set-up**
 * STM32F103RCT6
 * STM32CubeIDE  HAL v1.8.4

**Describe the bug**
1. Start UART DMA receive
2. Send data with serial
3. View data in HAL_UART_RxHalfCpltCallback/HAL_UART_RxCpltCallback
4. Send `12 34 56 78 12 34 56 78 12 34 56 78 12 34 56 78` but dma receive buffer is `78 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00`

**How To Reproduce**
1. Indicate the global behavior of

[2021-09-02 04:26] tiantian1645 commented on #34
And a similar problem in Timer trigger ADC1 DMA ,it will only get in HAL_ADC_ConvCpltCallback once, but there is no problem if changed to ADC3,.

[2021-10-07 15:29] ASELSTM commented on #34
Hi @tiantian1645,

This is unfortunately a CubeMX generation problem. To fix the issue you can change the order of the initialization functions generated by CubeMX by placing the DMA initialization before the UART initialization as following :

[code]

Would you please update the initialization sequence as described above in the code snippet and check back if you still have the erroneous behavior

[2021-10-07 20:13] jhansen3141 opened #37 "MMC HAL driver fails to init"
The current MMC HAL driver fails to init due to not selecting the card before attempting to read the extended CSD register.

In `MMC_InitCard `in stm32f1xx_hal_mmc.c, the `HAL_MMC_GetCardCSD `function is called which in turn calls `MMC_ReadExtCSD `attempting to read the extended CSD register. However, this is done before the call to select the card which causes the `MMC_ReadExtCSD `function/comman

[2021-10-08 07:47] tiantian1645 commented on #34
I had tried to  swap the initialization sequence but it does not work.
I am not able to check back because I have resigned from this project.

[2021-10-13 21:06] jhansen3141 opened #38 "MMC DMA Reads/Writes Fail to Update DMA Direction"
In stm32f1xx_hal_mmc.c, `HAL_MMC_ReadBlocks_DMA `and `HAL_MMC_WriteBlocks_DMA`, the DMA direction is set in the DMA CCR register before starting the DMA transfer. However, this register cannot be updated without first disabling DMA (clearing the EN bit in the CCR register). This is not currently done in the driver and therefore the DMA direction is never updated between MMC reads and writes.
[code

[2021-10-19 09:29] RKOUSTM commented on #37
Hi @jhansen3141,

Thank you for your contribution. You are absolutely right about this point.

Actually, the point you raised has already been dealt and fixed internally. The fix will be made available in the frame of a future release.

Thank you again for your contribution. We are looking forward to reading from you again.

With regards,

[2021-10-19 09:31] RKOUSTM commented on #37
ST Internal Reference: 110782

[2021-10-19 10:49] RKOUSTM commented on #37
Duplicate of [STM32CubeF4#73](https://github.com/STMicroelectronics/STM32CubeF4/issues/73).

[2021-10-19 15:43] ALABSTM commented on #23
Hi @daniel-starke,

The fix described [above](https://github.com/STMicroelectronics/STM32CubeF1/issues/23#issuecomment-745310057) (plus a bundle of other fixes and enhancements) has been made available in the frame of **v1.8.4** of this firmware. Please allow me to close this issue. Thank you again for your contribution.

With regards,

[2021-10-19 15:43] #23 closed, assigned to ALABSTM

[2021-10-25 17:23] ASELSTM commented on #34
Hi @tiantian1645,

We have implemented the proposed fix on the code you have provide and it works perfectly. As explained in the first comment, the point you reported is  related to the CubeMX generation problem and not to the firmware published in this repository.  Please allow me then to close this thread as we don't treat aspect related to CubeMX tool in our GitHub repositories.  Thank you for

[2021-10-25 17:23] #34 closed, assigned to ASELSTM

[2021-12-20 09:27] RKOUSTM commented on #38
Hi @jhansen3141,

Thank you for your contribution. The reported point will be forwarded to our development teams. I will get to you as soon as they provide their feedback.

Thank you again for your contribution and for your patience.

With regards,

[2022-01-03 13:31] CanastraRF opened #39 "missing static in HAL_RCC_GetSysClockFreq()"
Hi
In the function

`uint32_t HAL_RCC_GetSysClockFreq(void)
`
are five const array

[code]
they should bee static

same in

[code]
Please fix this

[2022-01-07 14:16] RKOUSTM commented on #39
Hi @CanastraRF,

Thank you for your report. An internal tracker has been logged and a fix will be implemented and made available in the frame of a future release.

Thank you again for you report.

With regards,

[2022-01-07 14:17] RKOUSTM commented on #39
ST Internal Reference: 120495

[2022-01-21 16:54] #11 closed, assigned to ALABSTM

[2022-01-21 17:03] ALABSTM commented on #11
Hi @HamzaHajeir,

I hope you are fine. We finally got the fix you proposed implemented and published via pull-request #40. Thank you again for your patience.

Please note, however, that the plan is to have EEPROM-related applications **moved from** the STM32CubeF1 firmware repo and from all others **to** the [X-CUBE-EEPRMA1](https://github.com/STMicroelectronics/X-CUBE-EEPRMA1/tree/main/Projects)

[2022-01-30 08:35] ALABSTM commented on #38
Hi @jhansen3141,

Thank you for this report. We will get back to you with a feedback as soon as possible. Please excuse the delay it may take us sometimes to reply. Thank you for your comprehension.

With regards,

[2022-02-18 05:23] jmgurney opened #41 "HID code is not standards compliant"
**Describe the bug**

If an implementation using either the custom hid device class or the hid device class, and issues a GET_REPORT request on the control endpoint, an error will be returned instead of the required response.

The code here:
https://github.com/STMicroelectronics/STM32CubeF1/blob/master/Middlewares/ST/STM32_USB_Device_Library/Class/CustomHID/Src/usbd_customhid.c#L445

Is clearly mi

[2022-02-22 05:16] a2k-hanlon opened #42 "Discrepancy in FLASH->ACR register LATENCY bits definition between CMSIS and Reference Manual"
In the device register content definitions within CMSIS, the possible options for the `LATENCY` bit field within the FLASH->ACR register are defined as follows:
https://github.com/STMicroelectronics/STM32CubeF1/blob/156741e067c4acdf655d7f54f4d8129f6c5f97fc/Drivers/CMSIS/Device/ST/STM32F1xx/Include/stm32f103xe.h#L11100-L11102

However, the register definition within the reference manual RM0008 (Rev

[2022-02-22 08:49] a2k-hanlon commented on #42
My apologies, please disregard this issue. I have misunderstood the premise of these CMSIS definitions - they are simply defining each of the bit positions included in the bit field separately, not providing the valid values for the bitfield. Closing this issue now.

[2022-02-22 08:49] #42 closed, assigned to nobody

[2022-02-28 15:02] RKOUSTM commented on #38
Hi @jhansen3141,

Thank you for your contribution. An update of the MMC HAL driver will take this problem into into account and it will be made available in the frame of a future release v1.8.5.

Thank you again for this contribution and thank you in advance for your patience.

With regards,

[2022-03-21 12:26] Peck07 opened #43 "stm32f1xx_hal_iwdg.c:126:83: error: 'LSI_STARTUP_TIME' undeclared"
**Caution**
The Issues are strictly limited for the reporting of problem encountered with the software provided in this project.
For any other problem related to the STM32 product, the performance, the hardware characteristics and boards, the tools the environment in general, please post a topic in the [ST Community/STM32 MCUs forum](https://community.st.com/s/group/0F90X000000AXsASAW/stm32-mcus).

[2022-04-05 14:20] RKOUSTM commented on #43
Hi @Peck07,

Thank you for your report. We tried to reproduce the issue you described, but we couldn't notice the problem. You can refer to this [IWDG_Example](https://github.com/STMicroelectronics/STM32CubeF1/tree/master/Projects/STM3210C_EVAL/Examples/IWDG/IWDG_Example) on STM3210C_EVAL to reload the IWDG counter and to simulate a software fault by generating an MCU IWDG reset when a programmed

[2022-04-05 14:20] #43 closed, assigned to RKOUSTM

[2022-04-12 11:27] ALABSTM commented on #41
Hi @jmgurney,

Thank you for having reported this point. Actually, version **2.11.0** of the USB Device library has just been released, which addresses your point, as you can see [here](https://github.com/STMicroelectronics/stm32_mw_usb_device/blob/master/Class/CustomHID/Src/usbd_customhid.c#L406).

You can get it from the [stm32_mw_usb_device](https://github.com/STMicroelectronics/stm32_mw_usb_de

[2022-04-15 11:54] RKOUSTM commented on #38
ST Internal Reference: 110782

[2022-04-25 00:35] jmgurney commented on #41
Please keep this issue open until the firmware package has been updated. The reason I want this to remain open is so that other people who encounter this issue do not have to spend as long trying to figure out what is wrong with their devices.

I do understand that you likely want to keep the number of issues that are open low on your package, but IMO, that should just encourage your management to

[2022-04-29 10:28] ALABSTM commented on #41
Hi @jmgurney,

I can understand you point. However, even closed, the issue can still appear in search results. Please allow me to close it. It can always be reopened shall there be any update. Thank you for your comprehension.

With regards,

[2022-04-29 10:28] #41 closed, assigned to ALABSTM

[2022-05-05 08:25] jankap opened #46 "CMSIS-Pack for STM32F10x series?"
Hi all,

while there are CMSIS-Packs (see https://www.keil.com/dd2/pack/) for almost all ST series, there is none for STM32F10x. Same situation when creating a project in STM32CubeMX; the sources are manually added to MDK instead of using any CMSIS-Pack.

Is there a specific reason behind it?

Thanks :)

[2022-06-10 04:09] xhlinux opened #49 "no memory pool implementation in cmisi_os2.c"
such as：osMemoryPoolNew func is not implement, but defined in cmsis_os2.h

[code]

and in STM32Cube_FW_F1_V1.8.4\Middlewares\Third_Party\FreeRTOS\Source\CMSIS_RTOS_V2\cmsis_os1.c
[code]
but  osMemoryPoolNew can't link，

so where is osMemoryPoolNew defined？

[2022-06-14 01:13] Coloryr opened #50 "Error template with FatFs syscall.c"
Pack Version: 1.8.4

The generated template file cannot be used with FreeRTOS.
This problem occurs in the F1 chip. The H7 chip is normal.
F1:
![_~8MGSB{)7VLOVH4C773DNR](https://user-images.githubusercontent.com/26276037/173472620-f8cdcde5-118c-4217-8fe5-44ebc16036d0.png)

H7:
![EHSR C7R{`J(81IK2YSP{FD](https://user-images.githubusercontent.com/26276037/173472527-3802e380-fcb0-401d-a097-4c7f9b18ef2

[2022-06-14 09:47] jankap commented on #46
Dear @ALABSTM, does the `To do` assignment mean, that you or your team will work on a pack? I was going to create it on my own but of course I'll wait if there are plans like that.

Thanks!

[2022-07-10 17:46] Devilbinder opened #51 "Refactor CMSIS includes"
I came across redundant `else` statements and some `if` statements that can be reworked by flapping them, in the CMSIS include folder. I believe this will increase the readability and reduce the overall footprint of the code with regards to the amount of lines.

Here is a examples one of the many functions that do this.

https://github.com/STMicroelectronics/STM32CubeF1/blob/218b5100dd9e4b9bb3b0aa

[2022-07-12 16:46] ASELSTM commented on #51
Hi @Devilbinder,

The files within CMSIS include folder are out of scope of STMicroelectronics as they are provided by ARM. All changes and updates to these files are not managed by our technical team but rather by ARM's team. Therefore, you may report this issue on [ARM](https://github.com/ARM-software) GitHub.

Please allow me then to close this issue and hank you for your contribution.

With re

[2022-07-12 16:46] #51 closed, assigned to ASELSTM

[2022-07-15 14:07] HBOSTM commented on #49
ST Internal Reference: 131766

[2022-08-01 19:25] Devilbinder opened #52 "Typo in usbd_core.c"
In the function description of `USBD_DeInit`. There is a missing `e`.

Please see this commit https://github.com/STMicroelectronics/STM32CubeF1/commit/a188ada2a5aab5358cb0ce1e6e5ab77d7d0d014e

I will PR it if it is not on the internal tracker.

[2022-08-04 20:11] Devilbinder commented on #52
PR created #53. Assuming adding this to `To do` is a green lite.

[2022-08-31 15:08] ALABSTM commented on #46
Dear @jankap,

First of all, please excuse this delayed reply. Sometimes, it takes some time to answer.

I checked with our development teams and they said this issue is out of our scope. Indeed, the CMSIS packs available on Keil's [webpage](https://www.keil.com/dd2/pack/) are managed by their teams. You can reach out to their support [here](https://www.keil.com/support/).

As this topic is out of

[2022-08-31 15:08] #46 closed, assigned to ALABSTM

[2022-10-17 10:35] stephenkilbaneadi opened #56 "Update STM license to SLA0048?"
LICENSE.md describes some of the files as being licensed under SLA0044. If the same package is retrieved from st.com, the license presented is SLA0048. Should SLA0044 be updated to SLA0048, in this repo?